{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "printWidth": 150,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": "*.{js,jsx,ts,tsx}",
      "options": {
        "singleQuote": true,
        "jsxSingleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": true,
        "bracketSameLine": true,
        "arrowParens": "avoid"
      }
    }
  ]
}
